body { background-color: #22252A; color: whitesmoke;}
ul { margin-right: 100px;}
ul font { color: #858B89; font-weight: bold;}
#headerMJBD {margin-left: 150px; color: whitesmoke;}
.mainText1{ margin: auto; margin-top: 20%; text-align: center; font-size: 55px;}
.mainText2{ margin: auto;  text-align: center; font-size: 25px;}
.mainbutton { text-align: center; }
.mainbutton input{ background-color: white; text-align: center; border-radius: 10px; width: 200px; height: 70px; font-size: 30px;}
.mainItem { margin-bottom: 30px;}